

<div class="content" role="main">
  <h1>Teacher</h1>
</div>

<br/>
<br/>
<table>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Gender</th>
    <th>Address</th>
    <th>Language</th>
  </tr>

  <tr ng-repeat = "teacher in teachers | orderBy : language" >
    <td>{{ teacher.firstName }}</td>
    <td>{{ teacher.lastName }}</td>
    <td>{{ teacher.gender }}</td>
    <td>{{ teacher.address }}</td>
    <td>{{ teacher.language }}</td>
  </tr>
</table>
<br/>
<br/>
<p *ngIf="teachers.length > 5">A new teacher was added recently!</p>

