
<p *ngIf="students.length > 5">A new student was added recently!</p>

<!-- STUDENT -->
<div class="content" role="main">
  <h1>Student</h1>
</div>

<br/>
<br/>
<table>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Gender</th>
    <th>Address</th>
    <th>Language</th>
  </tr>

  <tr ng-repeat = "student in students | orderBy : language" >
    <td>{{ student.firstName }}</td>
    <td>{{ student.lastName }}</td>
    <td>{{ student.gender }}</td>
    <td>{{ student.address }}</td>
    <td>{{ student.language }}</td>
  </tr>
</table>
<br/>
<br/>
